/* HOMEPAGE */

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 50%;
}

.card > div {
    padding: 3px;
}

.image-div {
    background-size: 130%;
    background-position: center;
    width: 100%;
    height: 250px;
}

img {
    width: 25%;
}

